{
  "openapi": "3.0.0",
  "info": {
    "title": "UR Live Commerce API",
    "version": "1.0.0",
    "description": "라이브 커머스 플랫폼 API 문서",
    "contact": {
      "name": "UR Team",
      "url": "https://live.ur-team.com"
    }
  },
  "servers": [
    {
      "url": "https://live.ur-team.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "인증 관련 API"
    },
    {
      "name": "Products",
      "description": "상품 관련 API"
    },
    {
      "name": "Live Streams",
      "description": "라이브 스트림 관련 API"
    },
    {
      "name": "Cart",
      "description": "장바구니 관련 API"
    },
    {
      "name": "Orders",
      "description": "주문 관련 API"
    },
    {
      "name": "Sellers",
      "description": "판매자 관련 API"
    },
    {
      "name": "Admin",
      "description": "관리자 관련 API"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "session_token"
      }
    },
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "price": { "type": "number" },
          "original_price": { "type": "number" },
          "discount_rate": { "type": "number" },
          "image_url": { "type": "string" },
          "stock": { "type": "integer" },
          "category": { "type": "string" },
          "seller_id": { "type": "integer" },
          "seller_name": { "type": "string" },
          "sold_count": { "type": "integer" }
        }
      },
      "LiveStream": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "status": { 
            "type": "string",
            "enum": ["active", "scheduled", "ended"]
          },
          "youtube_video_id": { "type": "string" },
          "seller_id": { "type": "integer" },
          "seller_name": { "type": "string" },
          "current_viewers": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": false },
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" },
              "details": { "type": "string" }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "헬스 체크",
        "tags": ["System"],
        "responses": {
          "200": {
            "description": "서비스 정상",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "status": { "type": "string" },
                    "timestamp": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/products": {
      "get": {
        "summary": "상품 목록 조회",
        "tags": ["Products"],
        "parameters": [
          {
            "name": "featured",
            "in": "query",
            "description": "추천 셀러 상품 필터",
            "schema": { "type": "string", "enum": ["true", "false"] }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "조회 개수",
            "schema": { "type": "integer", "default": 20 }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "오프셋",
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Product" }
                    },
                    "cached": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/products/popular": {
      "get": {
        "summary": "인기 상품 목록",
        "tags": ["Products"],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Product" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/products/{id}": {
      "get": {
        "summary": "상품 상세 조회",
        "tags": ["Products"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": { "$ref": "#/components/schemas/Product" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "상품을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/live-streams": {
      "get": {
        "summary": "라이브 스트림 목록",
        "tags": ["Live Streams"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "스트림 상태",
            "schema": { 
              "type": "string",
              "enum": ["active", "scheduled", "ended"]
            }
          },
          {
            "name": "seller_id",
            "in": "query",
            "description": "판매자 ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/LiveStream" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/cart": {
      "get": {
        "summary": "장바구니 조회",
        "tags": ["Cart"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": { "type": "array" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "post": {
        "summary": "장바구니에 상품 추가",
        "tags": ["Cart"],
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": { "type": "integer" },
                  "quantity": { "type": "integer" }
                },
                "required": ["product_id", "quantity"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공"
          },
          "401": {
            "description": "인증 필요"
          },
          "422": {
            "description": "재고 부족"
          }
        }
      }
    },
    "/api/orders": {
      "get": {
        "summary": "주문 목록 조회",
        "tags": ["Orders"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": {
            "description": "성공"
          },
          "401": {
            "description": "인증 필요"
          }
        }
      },
      "post": {
        "summary": "주문 생성",
        "tags": ["Orders"],
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": { "type": "array" },
                  "shipping_address_id": { "type": "integer" },
                  "payment_method": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "주문 생성 성공"
          },
          "401": {
            "description": "인증 필요"
          }
        }
      }
    },
    "/api/auth/user/login": {
      "post": {
        "summary": "일반 사용자 로그인",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "password": { "type": "string" }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "access_token": { "type": "string" },
                        "user": { "type": "object" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패"
          }
        }
      }
    }
  }
}
