@tailwind base;
@tailwind components;
@tailwind utilities;

/* 유어 브랜드 컬러 */
:root {
  --toss-blue: #3182F6;
  --toss-gray: #191F28;
  --toss-light-gray: #F2F4F6;
}

.toss-primary {
  background-color: var(--toss-blue);
}

.toss-text-primary {
  color: var(--toss-blue);
}
