<?xml version="1.0" encoding="UTF-8" ?>
<Server version="8">
    <Name>ur-live-ome</Name>
    <Type>origin</Type>
    <IP>*</IP>
    <PrivacyProtection>false</PrivacyProtection>
    <StunServer>stun.ovenmediaengine.com:13478</StunServer>

    <Modules>
        <HTTP2><Enable>true</Enable></HTTP2>
        <LLHLS><Enable>true</Enable></LLHLS>
        <P2P><Enable>false</Enable></P2P>
    </Modules>

    <Bind>
        <Managers>
            <API>
                <Port>${env:OME_API_PORT:8081}</Port>
                <WorkerCount>1</WorkerCount>
            </API>
        </Managers>
        <Providers>
            <RTMP><Port>${env:OME_RTMP_PROV_PORT:1935}</Port></RTMP>
            <WebRTC>
                <Signalling>
                    <Port>${env:OME_WEBRTC_SIGNALLING_PORT:3333}</Port>
                    <TLSPort>${env:OME_WEBRTC_SIGNALLING_TLS_PORT:3334}</TLSPort>
                    <WorkerCount>1</WorkerCount>
                </Signalling>
                <IceCandidates>
                    <IceCandidate>${env:OME_HOST_IP:*}:10000-10100/udp</IceCandidate>
                    <TcpRelay>${env:OME_HOST_IP:*}:3478</TcpRelay>
                    <TcpForce>false</TcpForce>
                    <TcpRelayWorkerCount>1</TcpRelayWorkerCount>
                </IceCandidates>
            </WebRTC>
        </Providers>
        <Publishers>
            <OVT><Port>9000</Port></OVT>
            <LLHLS>
                <Port>3333</Port>
                <TLSPort>3334</TLSPort>
                <WorkerCount>1</WorkerCount>
            </LLHLS>
            <WebRTC>
                <Signalling>
                    <Port>3333</Port>
                    <TLSPort>3334</TLSPort>
                    <WorkerCount>1</WorkerCount>
                </Signalling>
                <IceCandidates>
                    <IceCandidate>${env:OME_HOST_IP:*}:10000-10100/udp</IceCandidate>
                    <TcpRelay>${env:OME_HOST_IP:*}:3478</TcpRelay>
                    <TcpForce>false</TcpForce>
                    <TcpRelayWorkerCount>1</TcpRelayWorkerCount>
                </IceCandidates>
            </WebRTC>
        </Publishers>
    </Bind>

    <Managers>
        <Host>
            <Names><Name>*</Name></Names>
        </Host>
        <API>
            <AccessToken>${env:OME_API_TOKEN}</AccessToken>
            <CrossDomains><Url>*</Url></CrossDomains>
        </API>
    </Managers>

    <VirtualHosts>
        <VirtualHost>
            <Name>default</Name>
            <Host>
                <Names><Name>*</Name></Names>
                <TLS>
                    <CertPath>/opt/ovenmediaengine/bin/origin_conf/certs/fullchain.pem</CertPath>
                    <KeyPath>/opt/ovenmediaengine/bin/origin_conf/certs/privkey.pem</KeyPath>
                </TLS>
            </Host>

            <AdmissionWebhooks>
                <ControlServerUrl>${env:OME_WEBHOOK_URL}</ControlServerUrl>
                <SecretKey>${env:OME_WEBHOOK_SECRET}</SecretKey>
                <Timeout>3000</Timeout>
                <Enables>
                    <Providers>webrtc,rtmp</Providers>
                </Enables>
            </AdmissionWebhooks>

            <CrossDomains><Url>*</Url></CrossDomains>

            <Applications>
                <Application>
                    <Name>app</Name>
                    <Type>live</Type>
                    <OutputProfiles>
                        <OutputProfile>
                            <Name>bypass_stream</Name>
                            <OutputStreamName>${OriginStreamName}</OutputStreamName>
                            <Encodes>
                                <Video><Name>bypass_video</Name><Bypass>true</Bypass></Video>
                                <Audio>
                                    <Name>aac_audio</Name>
                                    <Codec>aac</Codec>
                                    <Bitrate>128000</Bitrate>
                                    <Samplerate>48000</Samplerate>
                                    <Channel>2</Channel>
                                    <BypassIfMatch><Codec>eq</Codec></BypassIfMatch>
                                </Audio>
                            </Encodes>
                        </OutputProfile>
                    </OutputProfiles>
                    <Providers>
                        <WebRTC>
                            <Timeout>30000</Timeout>
                            <CrossDomains><Url>*</Url></CrossDomains>
                        </WebRTC>
                        <RTMP/>
                    </Providers>
                    <Publishers>
                        <AppWorkerCount>1</AppWorkerCount>
                        <StreamWorkerCount>8</StreamWorkerCount>
                        <WebRTC>
                            <Timeout>30000</Timeout>
                        </WebRTC>
                        <LLHLS>
                            <OriginMode>true</OriginMode>
                            <ChunkDuration>0.5</ChunkDuration>
                            <PartHoldBack>1.5</PartHoldBack>
                            <SegmentDuration>6</SegmentDuration>
                            <SegmentCount>10</SegmentCount>
                            <CrossDomains><Url>*</Url></CrossDomains>
                        </LLHLS>
                        <Push/>
                    </Publishers>
                </Application>
            </Applications>
        </VirtualHost>
    </VirtualHosts>
</Server>
